<article class="container col-2">
  <div id="about">
    <p class="text column">
      Hi! I'm Alex; A web developer with a passion for building elegant and
      innovative products. I am a digital privacy advocate and occasionally
      write about
      <a href="https://dev.to/theoboldalex" target="_blank" rel="noopener"
        >my work</a
      >
      and am an active member of the open source community. Grab a copy of my
      <a href="img/alex_theobold_cv_2020.pdf" target="_blank" rel="noopener"
        >CV</a
      >
      or <a href="/contact">send me a message</a>.
    </p>
  </div>
  <div id="headshot" class="column">
    <img id="profile" src="img/profile.jpg" alt="my face" width="70%" />
  </div>
</article>
